{# Load the tag library #}
{% load bootstrap4 %}

{% load i18n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div style="margin:auto;width: 40%">
<h1>提交简历</h1>
    <hr>
<form method="post" method="post" class="form" enctype="multipart/form-data" style="width:600px;margin-left:5px">
    {% bootstrap_form form %}
    {% csrf_token %}
    <input type="submit" value="提交">
</form>
</div>>